/* ======================================
   NOVA OS
   TASKBAR
====================================== */

#taskbar{

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 48px;

    background: #2d2d2d;

    display: flex;
    align-items: center;

    padding: 0 10px;

    box-sizing: border-box;

    z-index: 9999;

}

#start-button{

    width: 80px;
    height: 36px;

    border: none;
    border-radius: 6px;

    background: #1565c0;
    color: white;

    cursor: pointer;

    font-size: 15px;
    font-weight: bold;

}

#start-button:hover{

    background: #1976d2;

}

#taskbar-apps{

    flex: 1;

    display: flex;
    align-items: center;

    gap: 8px;

    margin-left: 12px;

}

.taskbar-app{

    height: 34px;

    padding: 0 15px;

    border: none;
    border-radius: 6px;

    background: #4b4b4b;
    color: white;

    cursor: pointer;

    transition: .2s;

    white-space: nowrap;

}

.taskbar-app:hover{

    background: #666;

}

#clock{

    color: white;

    font-size: 18px;

    font-weight: bold;

    margin-left: auto;

}